section.categories-video {

    background: white;


    .isActive {
        border-bottom: 1px solid #000;
    }

    .tab-title {
        cursor: pointer;
        border-bottom: 1px solid #000;
    }



}