section.instructor {
    position: relative;
    img {
        width: 90%;
        box-shadow: 1px 1px 15px #e8e6e6;
    }
    .background {
        position: absolute;
        width: 100%;
        height: 300px;
        background: #f2f2f2;
    }
    .card {
        border: none; 
        background: #f2f2f2;
    }

}