section.main-categories {
      
    .card {
        .img {
            img {
                border-radius: 5px 5px 0 0;
            }
            background: #eee;
            width: 100%;
            height: 300px;
            
        }
    }

}